<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    {% for category in categories %}
        <h1 style="color: {{ category.color }}">{{ category.title }}</h1>
        <span> Date de creation : {{ category.creationdate|date("m/d/Y h:m:s") }}</span> <br>
        <span> Date de publication : {{ category.publicationdate|date("m/d/Y h:m:s")}}</span>
    {% endfor %}

</body>
</html>