<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# form(formView) => recupere le formulaire est l'affiche champs apres champs #}

{{ form_start(formView) }}
{{ form(formView) }}

<button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(formView) }}


</body>
</html>